.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: #333333; */
}

.taskBoard {
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.taskCard {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #555555; */
}

.taskTitle {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 1.2em;
  background: #C9E2C7;
}
