.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #393E46;
  font-size: 1.6em;
}

.buttonArea {
  width: 20%;
}

.btnAddTask {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: #929AAB;
  color: white;
}
.btnAddTask:hover {
  background-color: #EEEEEE;
  color: #F99417;
}

.title {
  color: white;
}