.card {
  width: 90%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
  grid-template-areas: 'infos' 'buttons';
  flex-direction: column;
  background-color: #393E46;
  margin: 20px 0px;
  padding: 2% 3%;
  color: white;
}

.infos {
  grid-area: infos;
  display: flex;
  flex-direction: column;
}

.infos h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 3% 0px;
}
.infos .id {
  font-style: italic;
  color: #F99417;
  text-align: right;
}

.buttons {
  grid-area: buttons;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button, .buttonLeftRight {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  padding: 2%;
  margin: 1%;
  border-radius: 10px;
  background-color: #929AAB;
}

.button {
  width: 100%;
  flex-grow: 1;
}

.buttonLeftRight {
  width: 50%;
  flex-grow: 0;
}

.button:hover, .buttonLeftRight:hover {
  cursor: pointer;
  background-color: #EEEEEE;
  color: #F99417;
}

